FLASH_DEALS_API_URL="flash deals api"
DRY_RUN="True"

########################################
# Twitter Keys
#########################################
# Consumer Keys
TWITTER_API_KEY=
TWITTER_API_KEY_SECRET=
# Authentication Tokens
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_BEARER_TOKEN=




